<div class="tw-flex tw-items-center">
  <h4 class="tw-text-base sm:tw-text-2xl">Monthly</h4>
  <div class="tw-px-4">
    <span data-switchable data-switchable-id="pricing-toggle" class="tw-switch-container tw-switch-off tw-bg-yellow-brand tw-w-12 sm:tw-w-16">
      <span class="tw-switch tw-w-6 sm:tw-w-8 tw-h-6 sm:tw-h-8">
      </span>
    </span>
  </div>
  <h4 class="tw-text-base sm:tw-text-2xl">Yearly</h4>
</div>
