<div class="row">
	<div class="large-12 columns large-centered">
		<h3>Pricing</h3>
	</div>
	<div class="row">
		<div class="large-4 columns">
			<ul class="pricing-table">
			  <li class="title">PERSONAL</li>
			  <li class="price">FREE<br /></li>
			  <li class="bullet-item">3 reviews/month</li>
			  <li class="bullet-item">Online support</li>
			  <li class="cta-button"><a href="<%= signin_path %>" class="button primary">Get Started</a></li>

			</ul>
		</div>
		<div class="large-4 columns">
			<ul class="pricing-table">
			  <li class="title" style="background-color:#9df877;">PRO</li>
			  <li class="price">$30/month</li>
			  <li class="bullet-item" style="font-weight:bold">20 reviews/month</li>
			  <li class="bullet-item" style="font-weight:bold">Approver reminders</li>
			  <li class="bullet-item" style="font-weight:bold">Feedback panel</li>
			  <li class="bullet-item" style="font-weight:bold">Email support</li>
			  <li class="cta-button"><a class="button primary" href="mailto:team@approveforme.com?subject=PRO account waitlist&body=Can I please be added to the waitlist for a PRO account?">Join Waitlist</a></li>
			</ul>
		</div>
		<div class="large-4 columns end">
			<ul class="pricing-table">
			  <li class="title">ENTERPRISE</li>
			  <li class="price">Contact Us</li>
			  <li class="bullet-item" style="font-weight:bold">Unlimited reviews</li>
			  <li class="bullet-item" style="font-weight:bold">Unlimited user accounts</li>
			  <li class="bullet-item" style="font-weight:bold">Branded login page</li>
			  <li class="bullet-item">Approver reminders</li>
			  <li class="bullet-item">Feedback panel</li>
			  <li class="bullet-item">Email support</li>
			  <li class="cta-button"><a class="button primary" href="mailto:team@approveforme.com?subject=ENTERPRISE account&body=I am interested in learning more about an Enterprise account. Can you tell me more?">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>