<div class="row">
	<div class="large-10 columns large-centered">
		<h3>Pricing</h3>
	</div>
	<div class="row">
		<div class="large-3 large-offset-1 columns">
			<ul class="pricing-table">
			  <li class="title">FREE</li>
			  <li class="price">FREE<br /><small>Upgrade At Any Time</small></li>
			  <li class="bullet-item">3 reviews/month</li>
			  <li class="bullet-item">Email support only</li>
			  <li class="bullet-item" style="color:white;">-</li>
			  <li class="bullet-item" style="color:white;">-</li>
			  <li class="bullet-item" style="color:white;">-</li>
			  <li class="cta-button"><a href="<%= signin_path %>" class="button primary">Get Started</a></li>

			</ul>
		</div>
		<div class="large-4 columns">
			<ul class="pricing-table">
			  <li class="title">PRO</li>
			  <li class="price">$30/month<br /><small>When Paid Annually</small></li>
			  <li class="bullet-item">25 reviews/month</li>
			  <li class="bullet-item">SSL connection</li>
			  <li class="bullet-item">Printable approvals</li>
			  <li class="bullet-item">Beta new features early</li>
			  <li class="bullet-item">Email & email support</li>
			  <li class="cta-button"><a class="button primary" href="mailto:team@approveforme.com?subject=PRO account waitlist&body=Can I please be added to the waitlist for a PRO account?">Join Waitlist</a></li>
			</ul>
		</div>
		<div class="large-3 columns end">
			<ul class="pricing-table">
			  <li class="title">ENTERPRISE</li>
			  <li class="price">Contact Us<br /><small>To Discuss Pricing</small></li>
			  <li class="bullet-item"><i>everything in PRO plus:</i></li>
			  <li class="bullet-item">Unlimited reviews</li>
			  <li class="bullet-item">Unlimited users (by domain)</li>
			  <li class="bullet-item">Branded login page</li>
			  <li class="bullet-item">Email, chat & phone support</li>
			  <li class="cta-button"><a class="button primary" href="mailto:team@approveforme.com?subject=ENTERPRISE account&body=I am interested in learning more about an Enterprise account. Can you tell me more?">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>