<% content_for :title, "Plans and Pricing" %>

<div class="tw-flex tw-justify-center tw-items-center">
  <div class="tw-w-32 tw-px-2"><hr /></div>
  <h1 class="tw-text-5xl tw-text-center tw-px-2">Pricing</h1>
  <div class="tw-w-32 tw-px-2"><hr /></div>
</div>

<div id="pricing-table" class="tw-w-full tw-bg-blue tw-pt-8">
  <div class="tw-flex tw-flex-col sm:tw-flex-row tw-justify-center tw-mb-6 sm:tw-mb-0">

    <div class="sm:tw-flex-1 lg:tw-flex-initial lg:tw-w-1/4 tw-rounded-t-lg tw-rounded-tr-none tw-bg-white tw-mt-4 tw-flex tw-flex-col">
      <% short_name, details = @plans[0] %>
      <%= render partial: 'plan_card', locals: { short_name: short_name, details: details } %>
    </div>

    <div class="tw-flex-1 lg:tw-flex-initial lg:tw-w-1/4 tw-rounded-t-lg tw-bg-white tw-mt-4 sm:tw--mt-4 tw-shadow-lg tw-z-30 tw-flex tw-flex-col">
      <% short_name, details = @plans[1] %>
      <%= render partial: 'plan_card', locals: { short_name: short_name, details: details } %>
    </div>

    <div class="tw-flex-1 lg:tw-flex-initial lg:tw-w-1/4 tw-rounded-t-lg tw-rounded-tl-none tw-bg-white tw-mt-4 tw-flex tw-flex-col">
      <% short_name, details = @plans[2] %>
      <%= render partial: 'plan_card', locals: { short_name: short_name, details: details } %>
    </div>
  </div>
</div>

<div class="tw-hidden sm:tw-flex tw-justify-center tw-pt-8">
  <%= render partial: "plan_interval_selector" %>
</div>

<div id="permissionModal"></div>
