<div class="row">
	<div class="large-12 columns large-centered">
		<h3>Pricing</h3>
	</div>
	<div class="row">
		<div class="large-4 large-offset-4 columns">
			<ul class="pricing-table">
			  <li class="title">PERSONAL</li>
			  <li class="price">FREE<br /></li>
			  <li class="bullet-item">3 reviews/month</li>
			  <li class="bullet-item">Online support</li>
			  <li class="cta-button"><a href="<%= signin_path %>" class="button primary">Get Started</a></li>
			</ul>
		</div>
	</div>
</div>