Hi <%= @name %>, </br>
<p>
We've sent out <%= link_to @approval.title, "#{root_url}#{approval_path(@approval)}" %> to all of the approvers you've requested. You can check out the status of your approval at <%= link_to "ApproveForMe.com", root_url %>.
</p>
Have a great day!</br>
-The ApproveForMe Team