Welcome <%= @name %>, to a new way to create, track, and manage document signoffs!</br></br>

We're so glad you've joined an we think your colleagues or clients will appreciate it too.</br></br>

If you run into any issues along the way or have any questions, feel free to reply directly to this mail or tweet us <a href="https://twitter.com/approveforme" target="_blank">@approveforme</a>.</br></br>

Sincerely,</br>
-The ApproveForMe Team