Welcome <%= @name %>, to a new way to create, track, and manage document signoffs!</br></br>

We're so glad you've joined an we think your colleagues or clients will appreciate it too.</br></br>

To help you get started, you may want to check out the <a href="#">tour</a>. If you run into any issue along the way or have any questinos, feel free to reply directly to this mail to get in touch with us or tweet us <a href="https://twitter.com/approveforme" target="_blank">@approveforme</a>.</br></br>

Onward and upward,</br>
-The ApproveForMe Team