body.home.index {
  .sub-title {
    font-size: 20px;
    margin-bottom: 5px;
    color: #595959;
  }

  .sub-description {
    font-size: 15px;
    color: #595959;
    line-height: 130%;
  }

  .login li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    margin-right: 0.3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("https://www.google.com/images/srpr/logo4w.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
  }

  a#login img {
    height: 4rem;
  }
}
