body.home.dashboard {
  .dashboard-number-card {
    border-radius: 5px;
    margin: 0 20px 20px;
    position: relative;

    .dashboard-number-delta {
      align-items: baseline;
      bottom: 6px;
      display: flex;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 0;
      opacity: 0.7;
      position: absolute;
      right: 6px;
      // color: #1779ba;

      i {
        margin-right: 5px;
        width: 0.6rem;
      }
    }

    // &.negative .dashboard-number-delta,
    // &.positive .dashboard-number-delta {
    //   color: #fefefe;
    // }

    // &.positive {
    //   .dashboard-number-area,
    //   .dashboard-number-value {
    //     color: white;
    //   }
    // }

    // &.negative {
    //   .dashboard-number-area,
    //   .dashboard-number-value {
    //     color: white;
    //   }
    // }

    &.negative .dashboard-number-area,
    &.positive .dashboard-number-area {
      opacity: 0.6;
    }

    &.positive {
      background: #3adb76;
    }

    &.negative {
      background: #cc4b37;
    }

    &.yellow {
      background: #FDD458;
    }
  }

  .dashboard-number-value {
    // color: #1779ba;
    font-size: 22px;
    font-weight: 800;
    padding: 1rem 2rem 1.75rem;
    text-align: center;
  }

  .dashboard-number-area {
    bottom: 6px;
    // color: #1779ba;
    font-size: 12px;
    left: 6px;
    margin-bottom: 0;
    position: absolute;
  }

  div.cta {
    padding-top: 3rem;

    a {
      color: #1779ba;
    }
  }
}
