<div class="row">
	<div class="large-10 columns large-centered">
		<h3>Terms of Service</h3>

		<h6><u>1. Introduction</u></h6>
		<p class="text">Welcome to approveforme.com, a website by CookDen Inc.  This document constitutes a legally-binding agreement ("Agreement") governing the terms of providing you with our service.  Throughout this document, the words "CookDen," "cookden.com," "CookDen Inc." "us," "we," and "our," refer to us, CookDen Inc. or our website, approveforme.com, as is appropriate in the context of the use of the words.  Likewise, the words "you" and "your" refer to you, the person who is being presented with this document for your agreement.</p>

		<h6><u>2. Description of Service</u></h6>
		<p class="text">ApproveForMe is a free web-based tool that simplifies your professional life by making it easier to create, track, and manage document signoffs.</p>

		<h6><u>3. Accounts and Usage</u></h6>
		<p class="text">When using our website, you will provide your name and e-mail address.  We may also allow you to login using your foursquare login information.</p>
		<p class="text">You must be over the age of 13 to access and use our website.  Please do not transmit or send any information to us if you are under the age of 13.</p>

		<h6><u>4. Disclaimer</u></h6>
		<p class="text">Although we strive for quality deals and other information on our website through voluntary (meaning we have the option of not doing so) editorial control, ratings features, and other features, we cannot provide any assurances that the deals posted are accurate.  For example, it is possible that we may receive some information on a deal (e.g. price) that is different from what is listed by the official deal provider.</p>
		<p class="text">Additionally, even if we post material, you agree that you will not hold us liable for any damages that may be incurred as a result of reliance on what we published.</p>

		<h6><u>5. Our Copyright and Your Copyright</u></h6>
		<p class="text">You agree not to copy, distribute, display, disseminate, or otherwise reproduce any of the information on our website, or our website itself, without our prior written permission.</p>

		<h6><u>6. Trademarks</u></h6>
		<p class="text">ApproveForMe is a trademark used by us, CookDen Inc., to uniquely identify our website, business, and other aspects of our business.  You agree not to use this phrase anywhere without our prior written consent.  Additionally, you agree not to use our trade dress, or copy the look and feel of our website or its design, without our prior written consent.  You agree that this paragraph goes beyond the governing law on intellectual property law, and includes prohibitions on any competition that violates the provisions of this paragraph.</p>

		<h6><u>7. Revocation of Consent</u></h6>
		<p class="text">Where CookDen Inc. has given prior written consent for your use of our protected material in accordance with our above "Copyright" and "Trademarks" provisions, we may revoke that consent at any time.  If we so request, we may require that you immediately take action to remove from circulation, display, publication, or other dissemination, any of the marks, copyrighted content, or other materials that we previously consented for you to use.</p>

		<h6><u>8. DMCA Notices</u></h6>
		<p class="text">We take copyright infringement very seriously, and we have registered a Copyright Agent with the United States Copyright Office, which limits our liability under the Digital Millennium Copyright Act.  If you believe that your copyright has been infringed, please contact us.
		</p>

		<h6><u>9. Communications Decency Act</u></h6>
		<p class="text">Although we are not required to inform you of our rights under the Communications Decency Act, we are doing so out of a courtesy.  To summarize, Section 230 of the Communications Decency Act protects us from liability for a number of classes of third party speech published through our website for which we might otherwise be liable at common law in your state, or otherwise liable for in your jurisdiction.  Specifically, the most common use of the Communications Decency Act is as a defense to defamation by third parties who may use a website owner's website to defame another party.</p>
		<p class="text">The Communications Decency Act protects us from civil actions over such defamation and, by virtue of the SPEECH Act 2010, it is not possible to circumvent the Communications Decency Act by filing suit in a foreign jurisdiction and attempting to domesticate the judgment in the United States - such a judgment will be unenforceable in the United States.</p>
		<p class="text">We do not, however, approve of defamation on our website, and request that you inform us at team@cookden.com of any defamatory material with full details about who you are and how the material is defamatory.  If we agree, we may, but are not obligated to, decide to remove the material.</p>

		<h6><u>10. Representations & Warranties</u></h6>
		<p class="text">WE MAKE NO REPRESENTATIONS OR WARRANTIES AS TO THE MERCHANTABILITY OF OUR SERVICE OR FITNESS FOR ANY PARTICULAR PURPOSE.  YOU AGREE THAT YOU ARE RELEASING US FROM ANY LIABILITY THAT WE MAY OTHERWISE HAVE TO YOU IN RELATION TO OR ARISING FROM THIS AGREEMENT OR OUR SERVICES, FOR REASONS INCLUDING, BUT NOT LIMITED TO, FAILURE OF OUR SERVICE, NEGLIGENCE, OR ANY OTHER TORT.  TO THE EXTENT THAT APPLICABLE LAW RESTRICTS THIS RELEASE OF LIABILITY, YOU AGREE THAT WE ARE ONLY LIABLE TO YOU FOR THE MINIMUM AMOUNT OF DAMAGES THAT THE LAW RESTRICTS OUR LIABILITY TO, IF SUCH A MINIMUM EXISTS.</p>
		<p class="text">YOU AGREE THAT WE ARE NOT RESPONSIBLE IN ANY WAY FOR DAMAGES CAUSED BY THIRD PARTIES WHO MAY USE OUR SERVICES, INCLUDING BUT NOT LIMITED TO PEOPLE WHO COMMIT INTELLECTUAL PROPERTY INFRINGEMENT, DEFAMATION, TORTIOUS INTERFERENCE WITH ECONOMIC RELATIONS, OR ANY OTHER ACTIONABLE CONDUCT TOWARDS YOU.</p>
		<p class="text">NEITHER WE NOR THE THIRD PARTIES ARE ESPONSIBLE FOR ANY FAILURE ON THE PART OF A PAYMENT PROCESSOR TO DIRECT PAYMENTS TO US OR THAT THIRD PARTY.  IN SUCH CASES WHERE AN ENTITY, NOT LIMITED TO OURSELVES, HAS NOT RECEIVED YOUR FUNDS OR A NOTIFICATION THAT YOUR FUNDS HAVE BEEN TRANSMITTED, YOU MUST RESOLVE THE ISSUE DIRECTLY WITH THE RELEVANT PAYMENT PROCESSOR.</p>
		<p class="text">WE ARE NOT LIABLE FOR ANY FAILURE OF THE GOODS OR SERVICES OF OUR COMPANY OR A THIRD PARTY, INCLUDING ANY FAILURES OR DISRUPTIONS, UNTIMELY DELIVERY, SCHEDULED OR UNSCHEDULED, INTENTIONAL OR UNINTENTIONAL, ON OUR WEBSITE WHICH PREVENT ACCESS TO OUR WEBSITE TEMPORARILY OR PERMANENTLY.</p>
		<p class="text">THE PROVISION OF OUR SERVICE TO YOU IS CONTINGENT ON YOUR AGREEMENT WITH THIS AND ALL OTHER SECTIONS OF THIS AGREEMENT.  NOTHING IN THE PROVISIONS OF THIS "REPRESENTATIONS & WARRANTIES" SECTION SHALL BE CONSTRUED TO LIMIT THE GENERALITY OF THE FIRST PARAGRAPH OF THIS SECTION.</p>
		<p class="text legal"><i><strong>For Jurisdictions that do not allow us to limit our liability:</strong> Notwithstanding any provision of these Terms, if your jurisdiction has provisions specific to waiver or liability that conflict with the above then our liability is limited to the smallest extent possible by law.  Specifically, in those jurisdictions not allowed, we do not disclaim liability for: (a) death or personal injury caused by its negligence or that of any of its officers, employees or agents; or (b) fraudulent misrepresentation; or (c) any liability which it is not lawful to exclude either now or in the future.</i></p>
		<p class="text">IF YOU ARE A RESIDENT OF A JURISDICTION THAT REQUIRES A SPECIFIC STATEMENT REGARDING RELEASE THEN THE FOLLOWING APPLIES.  FOR EXAMPLE, CALIFORNIA RESIDENTS MUST, AS A CONDITION OF THIS AGREEMENT, WAIVE THE APPLICABILITY OF CALIFORNIA CIVIL CODE SECTION 1542, WHICH STATES, "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR."  YOU HEREBY WAIVE THIS SECTION OF THE CALIFORNIA CIVIL CODE.  YOU HEREBY WAIVE ANY SIMILAR PROVISION IN LAW, REGULATION, OR CODE THAT HAS THE SAME INTENT OR EFFECT AS THE AFOREMENTIONED RELEASE.</p>

		<h6><u>11. Indemnity</u></h6>
		<p class="text">You agree to indemnify and hold us harmless for any claims by you or any third party which may arise from or relate to this Agreement or the provision of our service to you, including any damages caused by your use of our website or acceptance of the offers contained on it.  This indemnity also extends, without limiting the generality of the foregoing, to compensating us for any material which you submit to us which infringes on the intellectual property rights of others.  You also agree that you have a duty to defend us against such claims and we may require you to pay for an attorney(s) of our choice in such cases.  You agree that this indemnity extends to requiring you to pay for our reasonable attorneys' fees, court costs, and disbursements.  In the event of a claim such as one described in this paragraph, we may elect to settle with the party/parties making the claim, and you shall be liable for the damages as though we had proceeded with a trial.</p>

		<h6><u>12. Choice of Law</u></h6>
		<p class="text">This Agreement shall be governed by the laws in force in the State of Washington.  The offer and acceptance of this contract is deemed to have occurred in the State of Washington.</p>

		<h6><u>13. Forum of Dispute</u></h6>
		<p class="text">You agree that any dispute arising from or relating to this Agreement will be heard solely by a court of competent jurisdiction in the State of Washington.</p>
		<p class="text">If you bring a dispute in a manner other than in accordance with this section, you agree that we may move to have it dismissed, and that you will be responsible for our reasonable attorneys' fees, court costs, and disbursements in doing so.</p>
		<p class="text">You agree that the prevailing party in any dispute will be entitled to claim from the unsuccessful party the entire amount of the prevailing party's reasonable attorneys' fees, costs, and disbursements in relation to the dispute.</p>

		<h6><u>14. Force Majeure</u></h6>
		<p class="text">You agree that we are not responsible to you for anything that we may otherwise be responsible for, if it is the result of events beyond our control, including, but not limited to, acts of God, war, insurrection, riots, terrorism, crime, labor shortages (including lawful and unlawful strikes), embargoes, postal disruption, communication disruption, failure or shortage of infrastructure, shortage of materials, or any other event beyond our control.</p>

		<h6><u>15. Severability</u></h6>
		<p class="text">In the event that a provision of this Agreement is found to be unlawful, conflicting with another provision of the Agreement, or otherwise unenforceable, the Agreement will remain in force as though it had been entered into without that unenforceable provision being included in it.</p>
		<p class="text">If two or more provisions of this Agreement are deemed to conflict with each other's operation, CookDen Inc. shall have the sole right to elect which provision remains in force.</p>

		<h6><u>16. Assignment</u></h6>
		<p class="text">You may not assign your rights and/or obligations under this Agreement to any other party without our prior written consent.  We may assign our rights and/or obligations under this Agreement to any other party at our discretion.</p>

		<h6><u>17. Amendments</u></h6>
		<p class="text">We may amend this Agreement from time to time.  When we amend this Agreement, we will update this page and indicate the date that it was last modified.  We will also require that you accept the changes before being able to continue using our website.  You may refuse to agree to the amendments, but if you do, you must immediately cease using our website and our service.  You must visit this page each time you come to our website and read and agree to it if the date it was last modified is more recent than the last time you agreed to the Agreement.</p>

		<h6><u>18. California Users and Residents</u></h6>
		<p class="text">Pursuant to California Civil Code Section 1789.3, any questions about pricing, complaints, or inquiries about must be sent to the address on our site.   Lastly, California users are also entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 1625 North Market Blvd., Sacramento, CA 95834, or by telephone at (916) 445-1254 or (800) 952-5210.</p>
		# # #
	</div>
</div>