<p class="homepage-hero center">Google Drive™ Document Workflow</p>
<p class="homepage-description center">ApproveForMe makes it easier to manage document workflows in Google Drive™ by sending out your document, keeping track of feedback and making sure your stakeholders are on the same page. Stop chasing people around and start getting stuff done.</p>
