<!-- External Link Button -->
<div class="tw-bg-yellow-brand tw-w-10 tw-h-10 tw-text-center tw-float-right tw-relative tw--mt-10" style="top: 3.25rem; right: 0.7rem">
  <%= link_to approval.link, target: "_blank" do %>
    <svg class="tw-text-white hover:tw-text-white tw-fill-current tw-m-1" x="0" y="0" height="32px" width="32px" viewBox="0, 0, 90, 90">
      <path d="M68.866,51.363 L65.683,51.363 C65.219,51.363 64.837,51.512 64.541,51.812 C64.241,52.109 64.092,52.49 64.092,52.954 L64.092,68.865 C64.092,71.053 63.314,72.925 61.756,74.483 C60.198,76.041 58.325,76.819 56.138,76.819 L14.77,76.819 C12.582,76.819 10.709,76.041 9.151,74.483 C7.593,72.925 6.815,71.053 6.815,68.865 L6.815,27.498 C6.815,25.31 7.593,23.438 9.151,21.88 C10.709,20.322 12.582,19.543 14.77,19.543 L49.772,19.543 C50.237,19.543 50.619,19.393 50.917,19.095 C51.215,18.797 51.363,18.416 51.363,17.952 L51.363,14.769 C51.363,14.306 51.215,13.924 50.917,13.626 C50.619,13.328 50.237,13.179 49.772,13.179 L14.77,13.179 C10.826,13.179 7.453,14.58 4.651,17.38 C1.851,20.181 0.451,23.554 0.451,27.498 L0.451,68.865 C0.451,72.809 1.851,76.183 4.652,78.983 C7.453,81.784 10.826,83.185 14.77,83.185 L56.138,83.185 C60.081,83.185 63.455,81.784 66.256,78.983 C69.057,76.183 70.457,72.81 70.457,68.865 L70.457,52.956 C70.457,52.491 70.308,52.109 70.009,51.812 C69.711,51.512 69.329,51.363 68.866,51.363 z"/>
      <path d="M88.604,7.76 C87.974,7.13 87.227,6.815 86.366,6.815 L60.91,6.815 C60.048,6.815 59.302,7.13 58.672,7.76 C58.043,8.389 57.727,9.135 57.727,9.997 C57.727,10.859 58.043,11.605 58.672,12.235 L67.423,20.985 L35.006,53.403 C34.674,53.735 34.508,54.116 34.508,54.546 C34.508,54.978 34.674,55.359 35.006,55.69 L40.674,61.358 C41.005,61.689 41.387,61.855 41.818,61.855 C42.248,61.855 42.63,61.69 42.961,61.358 L75.378,28.941 L84.13,37.691 C84.759,38.321 85.505,38.636 86.367,38.636 C87.229,38.636 87.975,38.321 88.605,37.691 C89.235,37.062 89.549,36.316 89.549,35.454 L89.549,9.997 C89.549,9.135 89.233,8.389 88.604,7.76 z" />
    </svg>

  <% end %>
</div>

<!-- Embed -->
<% if approval.embed != "undefined"  %>
  <iframe src="<%= approval.embed %>" class="tw-w-full tw-h-full" frameborder="0"></iframe>
<% elsif approval.link_type == "photo"  %>
  <%= image_tag "https://drive.google.com/uc?export=download&id=#{approval.link_id}", class: "tw-w-full" %>
<% else %>
  <%= link_to image_tag("preview-not-available.png", class: "tw-w-full"), approval.link, target: "_blank" %>
<% end %>
