  <div class="row">
    <div class="large-10 large-offset-1 end columns">
      <p class="homepage-hero center">Document Approvals Simplified.</p>
      <p class="homepage-description center">ApproveForMe is a free web-based tool that simplifies your professional life by making it easier to create, track, and manage document signoffs.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row">
        <p class="center"><a href="#" class="button primary large">Get started for free</a></p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="large-10 large-offset-1 end columns">
      <p class="page-title"><%= image_tag "screenshot-homepage.png" %><p>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-4 columns">
          <p class="center"><%= image_tag "idea.svg" %></p>
          <p class="sub-title center">Quick</p>
          <p class="sub-description center">Quickly create approvals with just a few bits of information. From images to documents to spreadsheets, we've got you covered.</p>
        </div>
        <div class="large-4 columns">
          <p class="center"><%= image_tag "check.svg" %></p>
          <p class="sub-title center">Actionable</p>
          <p class="sub-description center">Approvers are notified to approve or decline your approval and comment with any actional feedback.</p>
        </div>
        <div class="large-4 columns">
          <p class="center"><%= image_tag "smile.svg" %></p>
          <p class="sub-title center">Together</p>
          <p class="sub-description center">We pull it all together so you can see the approval status, comments, and more without having to dig through emails.</p>
        </div>
      </div>
    </div>
  </div><br />
  
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row">
        <p class="center"><a href="#" class="button secondary">We made this button really long so you can't ignore it. <strong>Get started now.</stong></a></p>
      </div>
    </div>
  </div>
