<div class="row">
	<div class="span6">
		<img src="http://placehold.it/500x250/e8e8e8&text=image">
	</div>
	<div class="span6">
		<h3>Approvals Simplified</h3>
		<p class="lead">
		ApproveForMe is a free web-based tool that simplifies your professional life by making it easy to create, track, and manage approvals.
		</p>
		<button class="btn btn-large btn-success" type="button">Get started for free</button>
	</div>
</div>
<div class="row text-center" style="margin-top:20px;">
	<div class="span4">
		<img src="http://placehold.it/150x150/e8e8e8&text=image">
		<h4>Quick setup</h4>
		<p class="text">Easy create approvals with just a few bits of information like names and email addresses, deadline, and link to document.</p>
	</div>
	<div class="span4">
		<img src="http://placehold.it/150x150/e8e8e8&text=image">
		<h4>Automated approval</h4>
		<p class="text">ApproveForMe will automatically email all the approvers, so you don't have to.</p>
	</div>
	<div class="span4">
		<img src="http://placehold.it/150x150/e8e8e8&text=image">
		<h4>One place</h4>
		<p class="text">View all who approved - or didn't - in one place along with their feedback. No more piecing together emails.</p>
	</div>
</div>
