<div class="row">
	<div class="span6">
		<img src="http://placehold.it/500x250/e8e8e8&text=product screenshot">
	</div>
	<div class="span6">
		<h3>Approvals Simplified</h3>
		<p class="lead">
		ApproveForMe is a free web-based tool that simplifies your professional life by making it easy to create, track, and manage approvals.
		</p>
		<%= link_to 'Get started for free', signin_path, :class=>"btn btn-large btn-success" %>
	</div>
</div>
<div class="row text-center" style="margin-top:20px;">
	<div class="span4">
		<img src="http://placehold.it/150x150/e8e8e8&text=sketch">
		<h4>Quick setup</h4>
		<p class="text">Easily create approvals with just a few bits of information and you're off.</p>
	</div>
	<div class="span4">
		<img src="http://placehold.it/150x150/e8e8e8&text=sketch">
		<h4>Automated approval</h4>
		<p class="text">Approvers are automatically emailed and presented with clear action.</p>
	</div>
	<div class="span4">
		<img src="http://placehold.it/150x150/e8e8e8&text=sketch">
		<h4>Easy peasy</h4>
		<p class="text">View status and feedback in one place - no more piecing together emails.</p>
	</div>
</div>