<div class="app-dashboard shrink-medium">
  <div class="app-dashboard-body off-canvas-wrapper">
    <div class="large-3 columns">
      <%= render 'sidebar' %>
    </div>
    <div class="app-dashboard-body-content off-canvas-content large-9 columns" data-off-canvas-content>
      <%= render 'dashboard' %>
    </div>
  </div>
</div>
