<meta name="verifyownership" 
content="03d620e72b7c0e47550ab3e5b24f9458"/>
<% if current_user %>
  <div class="app-dashboard shrink-medium">
    <div class="app-dashboard-body off-canvas-wrapper">
      <div class="large-3 columns">
        <%= render 'sidebar' %>
      </div>
      <div class="app-dashboard-body-content off-canvas-content large-9 columns" data-off-canvas-content>
        <%= render 'dashboard' %>
      </div>
    </div>
  </div>

<% elsif params[:intro] == "startup" %>
  <%= render '/home/landing/startup' %>
<% else %>
  <%= render 'logged_out' %>
<% end %>