<div class="tw-flex tw-justify-center tw-items-center">
  <div class="tw-w-32 tw-px-2"><hr /></div>
  <h1 class="tw-text-5xl tw-text-center tw-px-2">About</h1>
  <div class="tw-w-32 tw-px-2"><hr /></div>
</div>

<p>ApproveForMe is a web-based tool that simplifies your professional life by making it easier to create, track, and
  manage things that need approval. It works great for getting approvals from internal team members and external clients.</p>
<p>We started ApproveForMe after dealing with frustration in our jobs due to internal "bureaucracy." Required signoffs
  from management, partners, and colleagues left us wasting time pinging and following up, instead of doing our actual
  work. Rather than sit on the sidelines, complaining, we decided to make ApproveForMe to empower you to get your stuff approved quickly</p>
<p>Want to get in touch with us? Send us an email at <a href="mailto:team@approveforme.com">team@approveforme.com</a>
  or tweet us @approveforme.</p>