<div class="grid-x">
  <div class="large-12 cell text-center">
    <h3>Blocked Country</h3>
    <p>
      <strong>I'm sorry but we're not GDPR compliant. Want to know when we are?</strong>
  </div>
</div>
