<div class="tw-flex tw-justify-center tw-items-center">
  <div class="tw-w-32 tw-px-2"><hr /></div>
  <h1 class="tw-text-5xl tw-text-center tw-px-2">Frequently Asked Questions</h1>
  <div class="tw-w-32 tw-px-2"><hr /></div>
</div>

<p>
  <strong>How does ApproveForMe work if my approvers don’t use Google?</strong><br />
  If you're sending an approval to someone who doesn’t use Gmail or G Suite, have no fear; we’ve got you covered! When
  you send the request, your responder receives an email with a special link that is unique to them. When they use that
  link, they’ll be able to seemlessly view and approve for your document even though you didn’t send the approval to a
  Google-based email.
</p>

<p>
  <strong>Can I still use ApproveForMe if my document isn’t on Google Drive?</strong><br />
  Yes! If you’re document isn’t already there, you’ll be able to easily upload it when selecting the file on the form,
  and we’ll automatically set the appropriate permissions so your approvers will be able to view the document.
</p>

<p>
  <strong>What do all the permissions mean when I connect my Google account?</strong><br />
  In short, the permissions allow us to perform the necessary tasks on your Google Drive documents, like setting view
  and/or edit rights for your approvers. We do not give ourselves view permissions, so we do not see the contents of
  your documents. If
  you'd like to learn more, we broke down what each permission means and how we use it in
  <a href="https://learn.approveforme.com/a-closer-look-at-google-drive-permissions/" target="_blank">this blog post</a>.
</p>

<p>
  <strong>What file extensions are supported?</strong><br />
  Quite a few, including Documents (Google Docs, .doc, .docs), Images (.jpeg, .png .gif, .tiff, .bmp, raw), Videos
  (WebM, .MPEG4, .3GPP, .MOV, .AVI, .MPEGPS, .WMV, .FLV, .ogg), Spreadsheets (Google Sheets, .xls, .xlsx),
  Presentations (Google Slides, .ppt, .pptx), and others like .pdf, .tiff, .svg, and .eps and Google Forms and Google
  Drawings. To request a file type be added, you can submit it to the feedback forum or by emailing us directly
  at <a href="mailto:team@approveforme.com">team@approveforme.com</a>.
</p>

<p>
  <strong>I’d like to recommend a feature, how can I do this?</strong><br />
  First of all, you rock! You can do this by visiting the
  <a href="https://approveforme.uservoice.com/" target="_blank">feedback forum</a>
  or by emailing us directly at <a href="mailto:team@approveforme.com">team@approveforme.com</a>.</p>

<p>
  <strong>How much does ApproveForMe cost?</strong><br />
  View our
  <%= link_to "pricing page", pricing_path %>
  to learn more about lite, professional, and unlimited options.
</p>