<div class="grid-x">
  <div class="large-12 cell large-centered">
    <h3>Privacy Policy</h3>
    <h6>
      <u>1. Introduction</u>
    </h6>
    <p class="text">The following Privacy Policy of approveforme.com and parent company Rakefire LLC. is a description of how the approveforme.com website handles your information provided by you through input, registration, payment and use of our
      website. The services provided by approveforme.com, including the online reviewing and editing features, applications related to such features, results pages, overview pages, personal registration pages and all other related links and tools
      associated with approveforme.com, are secured and protected with enhanced features to guard your privacy and related information.</p>
    <p class="text">By your acceptance of the Privacy Policy and the Terms of Use and Terms and Conditions of Business Use you EXPRESSLY CONSENT to our collection, storage, use and disclosure of your information as described in this Privacy Policy. This
      Privacy Policy is accepted and effective as of April 2014 and/or on the date of registration by you as a New User.</p>

    <h6>
      <u>2. Personal Information We Collect</u>
    </h6>
    <p class="text">No information is collected while you browse the website. Information is only collected and stored upon Registration with your Google account as New User or Logging In. Information provided by you about yourself or your company is
      voluntary and provided with your consent. This information shall be collected and stored by approveforme.com. We collect all information you provide Google by registering with the approveforme.com services as authorized by Google.</p>
    <p class="text">By using various technologies available to it, such as collecting cookies, unique identifiers and direct registration input data, the approveforme.com website may collect the following information:

      <ul class="text" style="margin-left: 40px;">
        <li>Email address</li>
        <li>Full contact information on person/business
        </li>
        <li>Account information including billing address, credit card information</li>
        <li>Any and all correspondence through the website either through direct contact to approveforme.com or related website contacts as may be provided by approveforme.com</li>
        <li>Interaction with approveforme.com website during logged in usage including page clicks, browsing time</li>
        <li>ID information such as unique identifiers used by approveforme.com to recognize you or your service access collaborators during use of the site pages throughout the logged in session</li>
        <li>Any and all demographic information provided with consent by you during registration</li>
        <li>Any additional information submitted by you if so requested by approveforme.com such as survey Q&A forms</li>
      </ul>
      <p class="text">In addition to providing us with the above information about yourself, you must be at least 13 years of age or older to use our service. This is because we are prohibited by the Children's Online Privacy Protection Act from collecting
        information from anyone below that age. We apologize for any inconvenience this may cause.</p>

      <h6>
        <u>3. Non-Personal Information We Collect</u>
      </h6>
      <p class="text">We may collect information about you that is not personal information. When you access our website, we may collect such things as your IP address, browser, operating system, referring URL, and other general information about our
        visitors. This information, on its own, cannot usually be used to identify you.</p>

      <h6>
        <u>4. Use of Information</u>
      </h6>
      <p class="text">Approveforme.com uses the information collected from its users to maintain and improve the services offered. Approveforme.com does not disclose the collected information to third parties. Approveforme.com may use the collected
        information to provide you with tailored/custom information from time to time based on usage, site preferences and purchase history.</p>

      <p class="text">If and when authorized, Approveforme.com may use registered users' Company names to reference on its Client List.
      </p>
      <p class="text">Approveforme.com may use your information to notify other users registering for the service if their chosen User ID conflicts with yours.
      </p>
      <p class="text">Approveforme.com may keep a record of all communication between you and Approveforme.com via website, email, phone or otherwise.
      </p>
      <p class="text">Approveforme.com may use your User Preferences based on your site usage to enhance the Approveforme.com experience while logged in such as providing information on new products similar to ones already purchased by you.
      </p>
      <p class="text">Approveforme.com will use generally collected information such as overall usage, amount of users, trends and related market data to promote its service offerings online and otherwise.
      </p>

      <h6>
        <u>5. Cookies</u>
      </h6>
      <p class="text">To distinguish you from other users including those on the same network as yourself, approveforme.com uses cookies to track and identify each specific user’s workstation, computer, mobile device or tablet. Cookies are saved to track
        your preferences. By agreeing to this Privacy Policy you agree to enable cookies when accessing and using or browsing approveforme.com website.</p>

      <h6>
        <u>6. Third Party Websites & APIs</u>
      </h6>
      <p class="text">Approveforme.com may link you to third party websites from our website. At no time whatsoever does approveforme.com have control over such third party websites and is not responsible for these third party websites or their use of your
        personal information. You are advised to review the third party website’s privacy policies and other agreements as they pertain to your use of their website.</p>
      <p class="text">Approveforme.com directly interfaces with your Google account to retrieve your relevant information and documents during your use of our services. Such data may be shared between Google and approveforme.com and published on either or
        both websites during this process. Google has its own privacy policy and other legal terms and conditions. You are advised to review such policies and terms and your privacy settings before registering with approveforme.com.</p>
      <p class="text">e protect your information from being accessed by third parties. However, since we may use a third party to host our material, there are third party entities which may have custody or access to your information. Because of this, it is
        necessary that you permit us to give access to your information to third parties to the same extent that you authorize us to do so. Each authorization which you grant to us in this Privacy Policy, you also grant to any third party that we may hire,
        contract, or otherwise retain the services of for the purpose of operating, maintaining, repairing, or otherwise improving or preserving our website or its underlying files or systems. By accepting this Privacy Policy and using the approveforme.com
        website, including non-registered browsing, you expressly agree not to hold us liable for the actions, omissions, misrepresentations or otherwise of any of these third parties. Additionally, we may store your information or share it with certain
        other third parties for reasons that may or may not be related to maintenance, advertising, marketing, or other purposes related to our business. Here is a non-inclusive list of third parties who we may share information with:
        <ul class="text" style="margin-left:40px;">
          <li>Google</li>
          <li>Heroku</li>
          <li>Stripe</li>
        </ul>
      </p>

      <h6>
        <u>7. Legal Disclaimer</u>
      </h6>
      <p class="text">Approveforme.com may disclose personal information to respond to legal requirements, enforce our policies, respond to claims that a listing or other content violates the rights of others, or protect anyone's rights, property, or
        safety. Such information will be disclosed in accordance with applicable laws and regulations.</p>
      <p class="text">Approveforme.com may also disclose information with its parent company, Rakefire LLC. and its members, employees and agents as necessary to provide quality service for its users and regular site traffic.</p>

      <h6>
        <u>8. Security of Information</u>
      </h6>
      <p class="text">Approveforme.com operates secure data networks protected by industry standard firewall, encryption and password protection. Approveforme.com has security measures in place to attempt to protect against the loss, misuse and alteration
        of your user data under its control. Information provided by you is reviewed with respect to storage, processing and collection to protect against unauthorized access to the systems or servers of approveforme.com.</p>

      <h6>
        <u>9. Chance to Privacy Policy</u>
      </h6>
      <p class="text">This policy may be revised over time as new features are added to the website. We will post those changes so that you will always know what information we gather, how we might use that information, and whether we will disclose it to
        anyone. Please check this site for information about revisions to our privacy policy.</p>
      <p class="text">We will notify you directly if there is a material change in our privacy practices. We will take commercially reasonable measures to obtain written or active email consent from the user if approveforme.com is going to be using the
        information collected from the user in a manner different from that stated at the time of collection. We will also post the changes in our privacy statement 30 days prior to a change.</p>

      <h6>
        <u>10. Contact</u>
      </h6>
      <p class="text">Any inquiries about your rights under this Privacy Policy, or any other matters regarding your privacy, can be directed to team@approveforme.com
      </p>
    </div>
  </div>
