<div class="tw-flex tw-justify-center tw-items-center">
  <div class="tw-w-32 tw-px-2"><hr /></div>
  <h1 class="tw-text-5xl tw-text-center tw-px-2">Terms of Service</h1>
  <div class="tw-w-32 tw-px-2"><hr /></div>
</div>

<h3>
  <u>1. Introduction</u>
</h3>
<p>Welcome to approveforme.com, a website by Rakefire LLC. This document constitutes a legally-binding agreement ("Agreement") governing the terms of providing you with our service. Throughout this document, the words "Rakefire LLC."
  "us," "we," and "our," refer to us, Rakefire LLC. or our website, approveforme.com, as is appropriate in the context of the use of the words. Likewise, the words "you" and "your" refer to you, the person who is being presented with this document for
  your agreement. YOUR USE OF THE APPROVEFORME.COM WEBSITE IS GOVERNED BY THESE TERMS AND CONDITIONS OF BUSINESS USE ("TCBU"). THESE TCBU ARE A LEGAL AGREEMENT BETWEEN YOU AND Rakefire LLC. AND CAN ONLY BE MODIFIED WITH Rakefire LLC.’s EXPRESS WRITTEN
  CONSENT. YOU SHOULD READ ALL THESE TCBU COMPLETELY AND THOROUGHLY BEFORE USING THE SERVICE, PRODUCT, OR ACCESSING CONTENT ON THIS WEBSITE. IF YOU ARE UNCERTAIN ABOUT ANY OF THESE TCBU, IT IS RECOMMENDED THAT YOU HAVE YOUR ATTORNEY OR LEGAL COUNSEL
  REVIEW THEM PRIOR TO YOUR USE OF THIS SITE AS YOUR CONTINUED USE INDICATES AND CONSTITUTES YOUR ACKNOWLEDGEMENT, UNDERSTANDING, AND AGREEMENT TO ABIDE BY AND TO BE LEGALLY BOUND BY ALL OF THESE TCBU. IF YOU DO NOT AGREE WITH THESE TCBU OR IF YOU DO
  NOT HAVE THE AUTHORITY TO ENTER INTO THIS AGREEMENT THEN YOU ARE PROHIBITED FROM USING THE APPROVEFORME.COM WEBSITE AND SERVICES.</p>

<h3>
  <u>2. Description of Service</u>
</h3>
<p>ApproveForMe is a free and paid-for subscription web-based tool that simplifies your professional life by making it easier to create, track, and manage things that need approval.</p>

<h3>
  <u>3. Accounts and Usage</u>
</h3>
<p>You must be over the age of 13 to access and use our website. Please do not transmit or send any information to us if you are under the age of 13.</p>

<h3>
  <u>4. Disclaimer</u>
</h3>
<p>TO THE EXTENT PERMISSIBLE UNDER APPLICABLE LAW, Rakefire LLC., ON BEHALF OF ITSELF, ITS AFFILIATES, AND SUPPLIERS DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF TITLE,
  NON-INFRINGEMENT, ACCURACY, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES THAT MAY ARISE FROM COURSE OF DEALING, COURSE OF PERFORMANCE, CUSTOM, OR TRADE; AND Rakefire LLC. MAKES NO REPRESENTATION, WARRANTY, OR GUARANTY AS
  TO THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY, TRUTH, AVAILABILITY, ACCURACY OR COMPLETENESS OF THE SERVICE OR ANY CONTENT.</p>
<p>Rakefire LLC. DOES NOT REPRESENT OR WARRANT THAT YOUR USE OF THE APPROVEFORME.COM WILL BE SECURE, TIMELY, UNINTERRUPTED OR ERROR-FREE OR OPERATE IN COMBINATION WITH ANY OTHER HARDWARE, SOFTWARE, SYSTEM OR DATA, OR THE SERVICE WILL BE
  FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS AND THE SERVICE AND ALL CONTENT ON APPROVEFORME.COM IS PROVIDED AS IS.</p>

<h3>
  <u>5. Our Copyright and Your Copyright</u>
</h3>
<p>All rights granted are in accordance with the patent and copyright laws of the United States of America and International copyright laws as protected by the Berne Convention and the Universal Copyright Convention. All Content in this
  site including, but not limited to, video, audio, graphics, text, images, and design are the property of Rakefire LLC., or have been licensed to Rakefire LLC., and are protected by US and international copyright and trademark laws. You have no
  ownership of the Content. You may not copy, display, create derivative works from, transmit, perform, modify, display, or sell any information, products or services obtained from this site, except as expressly permitted under applicable law or as
  described in these TCBU</p>

<h3>
  <u>6. Trademarks</u>
</h3>
<p>Rakefire LLC. owns all right, title and interest, including all related Intellectual Property Rights in and to Aqility Inc.’s Technology, the Content, and the Service and any suggestions, ideas, enhancement requests, feedback,
  recommendations or other information provided by You. This Agreement is a license and not a sale therefore it does not convey to You any rights of ownership in or to the Service, Rakefire LLC.’s Technology, or the Intellectual Property Rights owned
  by Rakefire LLC. and the product names associated with the Service are trademarks of Rakefire LLC. or third parties, and no rights or license to use them are granted to You.</p>

<h3>
  <u>7. Revocation of Consent</u>
</h3>
<p>Where Rakefire LLC. has given prior written consent for your use of our protected material in accordance with our above "Copyright" and "Trademarks" provisions, we may revoke that consent at any time. If we so request, we may require
  that you immediately take action to remove from circulation, display, publication, or other dissemination, any of the marks, copyrighted content, or other materials that we previously consented for you to use.</p>

<h3>
  <u>8. Communications Decency Act</u>
</h3>
<p>Section 230 of the Communications Decency Act protects us from liability for a number of classes of third party speech published through our website for which we might otherwise be liable at common law in your state, or otherwise
  liable for in your jurisdiction. Specifically, the most common use of the Communications Decency Act is as a defense to defamation by third parties who may use a website owner's website to defame another party.</p>
<p>The Communications Decency Act protects us from civil actions over such defamation and, by virtue of the SPEECH Act 2010, it is not possible to circumvent the Communications Decency Act by filing suit in a foreign jurisdiction and
  attempting to domesticate the judgment in the United States - such a judgment will be unenforceable in the United States.</p>

<h3>
  <u>9. Representations & Warranties</u>
</h3>
<p>WE MAKE NO REPRESENTATIONS OR WARRANTIES AS TO THE MERCHANTABILITY OF OUR SERVICE OR FITNESS FOR ANY PARTICULAR PURPOSE. YOU AGREE THAT YOU ARE RELEASING US FROM ANY LIABILITY THAT WE MAY OTHERWISE HAVE TO YOU IN RELATION TO OR
  ARISING FROM THIS AGREEMENT OR OUR SERVICES, FOR REASONS INCLUDING, BUT NOT LIMITED TO, FAILURE OF OUR SERVICE, NEGLIGENCE, OR ANY OTHER TORT. TO THE EXTENT THAT APPLICABLE LAW RESTRICTS THIS RELEASE OF LIABILITY, YOU AGREE THAT WE ARE ONLY LIABLE TO
  YOU FOR THE MINIMUM AMOUNT OF DAMAGES THAT THE LAW RESTRICTS OUR LIABILITY TO, IF SUCH A MINIMUM EXISTS.</p>
<p>YOU AGREE THAT WE ARE NOT RESPONSIBLE IN ANY WAY FOR DAMAGES CAUSED BY THIRD PARTIES WHO MAY USE OUR SERVICES, INCLUDING BUT NOT LIMITED TO PEOPLE WHO COMMIT INTELLECTUAL PROPERTY INFRINGEMENT, DEFAMATION, TORTIOUS INTERFERENCE WITH
  ECONOMIC RELATIONS, OR ANY OTHER ACTIONABLE CONDUCT TOWARDS YOU. NEITHER WE NOR THE THIRD PARTIES ARE RESPONSIBLE FOR ANY FAILURE ON THE PART OF A PAYMENT PROCESSOR TO DIRECT PAYMENTS TO US OR THAT THIRD PARTY. IN SUCH CASES WHERE AN ENTITY, NOT
  LIMITED TO OURSELVES, HAS NOT RECEIVED YOUR FUNDS OR A NOTIFICATION THAT YOUR FUNDS HAVE BEEN TRANSMITTED, YOU MUST RESOLVE THE ISSUE DIRECTLY WITH THE RELEVANT PAYMENT PROCESSOR.</p>
<p>WE ARE NOT LIABLE FOR ANY FAILURE OF THE GOODS OR SERVICES OF OUR COMPANY OR A THIRD PARTY, INCLUDING ANY FAILURES OR DISRUPTIONS, UNTIMELY DELIVERY, SCHEDULED OR UNSCHEDULED, INTENTIONAL OR UNINTENTIONAL, ON OUR WEBSITE WHICH PREVENT
  ACCESS TO OUR WEBSITE TEMPORARILY OR PERMANENTLY.</p>
<p>THE PROVISION OF OUR SERVICE TO YOU IS CONTINGENT ON YOUR AGREEMENT WITH THIS AND ALL OTHER SECTIONS OF THIS AGREEMENT. NOTHING IN THE PROVISIONS OF THIS "REPRESENTATIONS & WARRANTIES" SECTION SHALL BE CONSTRUED TO LIMIT THE
  GENERALITY OF THE FIRST PARAGRAPH OF THIS SECTION.</p>
<p>IF YOU ARE A RESIDENT OF A JURISDICTION THAT REQUIRES A SPECIFIC STATEMENT REGARDING RELEASE THEN THE FOLLOWING APPLIES. FOR EXAMPLE, CALIFORNIA RESIDENTS MUST, AS A CONDITION OF THIS AGREEMENT, WAIVE THE APPLICABILITY OF CALIFORNIA
  CIVIL CODE SECTION 1542, WHICH STATES, "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY
  AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR." YOU HEREBY WAIVE THIS SECTION OF THE CALIFORNIA CIVIL CODE. YOU HEREBY WAIVE ANY SIMILAR PROVISION IN LAW, REGULATION, OR CODE THAT HAS THE SAME INTENT OR EFFECT AS THE AFOREMENTIONED RELEASE.</p>

<h3>
  <u>10.Subcription Fees & Refunds</u>
</h3>
<p>By entering into a paid-for subscription option for the Services you agree to pay the stated monthly fee, which shall be automatically deducted from your provided credit card service provider. You further agree neither
  Approveforme.com nor Rakefire LLC. will provide any refunds for any reason whatsoever during your subscription period or thereafter. Any refunds, which if issued at the discretion of Rakefire LLC., shall be no more than one month’s subscription
  service fee during the claim by you for such refund.</p>

<h3>
  <u>11.Term and Termination</u>
</h3>
<p>This Agreement shall commence on the first use of the Service by you and shall automatically renew every 30 days unless terminated through our website prior to the expiration of the 30 day period. Rakefire LLC. reserves the right to
  terminate this Agreement at any time without notice to you, which such termination may include termination of your access to the approveforme.com website and its services.</p>

<h3>
  <u>12. Indemnity</u>
</h3>
<p>You agree to indemnify and hold us harmless for any claims by you or any third party which may arise from or relate to this Agreement or the provision of our service to you, including any damages caused by your use of our website or
  acceptance of the offers contained on it. This indemnity also extends, without limiting the generality of the foregoing, to compensating us for any material which you submit to us which infringes on the intellectual property rights of others. You
  also agree that you have a duty to defend us against such claims and we may require you to pay for an attorney(s) of our choice in such cases. You agree that this indemnity extends to requiring you to pay for our reasonable attorneys' fees, court
  costs, and disbursements. In the event of a claim such as one described in this paragraph, we may elect to settle with the party/parties making the claim, and you shall be liable for the damages as though we had proceeded with a trial.</p>

<h3>
  <u>13. Limitation of Liabilty
  </u>
</h3>
<p>NEITHER Rakefire LLC. NOR ANY OF ITS AFFILIATES, LICENSORS, SUPPLIERS, ADVERTISERS, AGENTS, VENDORS, OR SPONSORS, NOR ANY DIRECTORS, OFFICERS, EMPLOYEES, CONSULTANTS, AGENTS, OR OTHER REPRESENTATIVES, ARE RESPONSIBLE OR LIABLE FOR ANY
  INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, PUNITIVE, OR OTHER DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS, LOSS OF DATA, OR LOST PROFITS), UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY, OR OTHER THEORY
  ARISING OUT OF OR RELATING IN ANY WAY OR CONNECTED TO THE SERVICE, SITE, MATERIALS CONTAINED ON THE SITE, OR PRODUCTS SOLD THROUGH THE SITE.</p>
<p>IN NO EVENT WILL THE TOTAL, AGGREGATE LIABILITY OF Rakefire LLC., NOR ANY OF ITS AFFILIATES, LICENSORS, SUPPLIERS, ADVERTISERS, AGENTS, VENDORS, OR SPONSORS, NOR THEIR DIRECTORS, OFFICERS, EMPLOYEES, CONSULTANTS, AGENTS, AND OTHER
  REPRESENTATIVES ARISING FROM, RELATING TO, OR CONNECTED WITH THE SERVICE, WEBSITE, MATERIALS CONTAINED ON THE WEBSITE, OR PRODUCTS SOLD THROUGH THE WEBSITE, EXCEED THE FEES PAID TO LICENSOR DURING THE PREVIOUS CALENDAR MONTH.</p>
<p>YOU ACKNOWLEDGE THAT Rakefire LLC.’S LIABILITY TO YOU FOR DIRECT LOSS UNDER ARISING OUT OF OR IN ANY WAY CONNECTED WITH USE OF THE SERVICE INCLUDING BUT NOT LIMITED TO THE USE OR INABILITY TO USE THE SERVICE, OR FOR ANY CONTENT
  OBTAINED FROM OR THROUGH THE SERVICE, ANY INTERRUPTION, INACCURACY, ERROR OR OMISSION, REGARDLESS OF CAUSE IN THE CONTENT, EVEN IF THE PARTY FROM WHICH DAMAGES ARE BEING SOUGHT OR SUCH PARTY'S LICENSORS HAVE BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY
  OF SUCH DAMAGES AND REGARDLESS OF WHETHER SUCH DAMAGES ARISE IN CONTRACT, TORT, UNDER STATUTE, IN EQUITY, AT LAW OR OTHERWISE SHALL BE LIMITED TO $100 FOR ANY ONE INCIDENT OR $150 FOR ANY SERIES OF INCIDENTS. LICENSOR SHALL, HOWEVER, IN NO
  CIRCUMSTANCES BE LIABLE TO YOU UNDER OR IN CONNECTION WITH YOU'S USE OF THE SERVICE OR INABILITY TO USE THE SERVICE FOR ANY INDIRECT, PUNITIVE, EXEMPLARY, INCIDENTAL, ECONOMIC OR CONSEQUENTIAL LOSS WHATSOEVER; LOSS OF REVENUE; LOSS OF PROFITS; LOSS
  OF BUSINESS; LOSS OF GOODWILL OR REPUTATION; LOSS OF USE; ANY DELETION, CORRUPTION, DESTRUCTION, LOSS OR REMOVAL OF DATA, OR ANY PROFESSIONAL CHARGES.</p>
<p>YOU ACKNOWLEDGES THAT ANY RELIANCE ON ANY INFORMATION OR OTHER MATERIAL CONTAINED IN THIS SERVICE IS ENTIRELY AT YOU'S OWN RISK AND ALL OTHER WARRANTIES, UNDERTAKINGS, CONDITIONS AND TERMS, EXPRESS OR IMPLIED, WHETHER BY COMMON LAW,
  STATUTE, CUSTOM, TRADE USAGE, COURSE OF DEALINGS OR OTHERWISE (INCLUDING WITHOUT LIMITATION AS TO QUALITY, FITNESS FOR PURPOSE, PERFORMANCE OR SUITABILITY FOR PURPOSE) IN RESPECT OF THE SITE ARE HEREBY EXCLUDED TO THE FULLEST EXTENT PERMITTED BY LAW.</p>
<p>SOME JURISDICTIONS DO NOT ALLOW FOR THE EXCLUSION OF IMPLIED WARRANTIES OR FOR THE LIMITATION OF LIABILITY FOR DEATH OR PERSONAL INJURY RESULTING FROM NEGLIGENCE, SO THE ABOVE MAY NOT APPLY TO YOU.</p>

<h3>
  <u>14. Choice of Law</u>
</h3>
<p>This Agreement shall be governed by the laws in force in the Commonwealth of Massachusetts. The offer and acceptance of this contract is deemed to have occurred in the Commonwealth of Massachusetts.</p>

<h3>
  <u>15. Forum of Dispute</u>
</h3>
<p>You agree that any dispute arising from or relating to this Agreement will be heard solely by a court of competent jurisdiction in the Commonwealth of Massachusetts.</p>
<p>If you bring a dispute in a manner other than in accordance with this section, you agree that we may move to have it dismissed, and that you will be responsible for our reasonable attorneys' fees, court costs, and disbursements in doing so.</p>
<p>You agree that the prevailing party in any dispute will be entitled to claim from the unsuccessful party the entire amount of the prevailing party's reasonable attorneys' fees, costs, and disbursements in relation to the dispute.</p>

<h3>
  <u>16. Force Majeure</u>
</h3>
<p>You agree that we are not responsible to you for anything that we may otherwise be responsible for, if it is the result of events beyond our control, including, but not limited to, acts of God, war, insurrection, riots, terrorism,
  crime, labor shortages (including lawful and unlawful strikes), embargoes, postal disruption, communication disruption, failure or shortage of infrastructure, shortage of materials, or any other event beyond our control.</p>

<h3>
  <u>17. Severability</u>
</h3>
<p>In the event that a provision of this Agreement is found to be unlawful, conflicting with another provision of the Agreement, or otherwise unenforceable, the Agreement will remain in force as though it had been entered into without
  that unenforceable provision being included in it.</p>
<p>If two or more provisions of this Agreement are deemed to conflict with each other's operation, Rakefire LLC. shall have the sole right to elect which provision remains in force.</p>

<h3>
  <u>18. Assignment</u>
</h3>
<p>You may not assign your rights and/or obligations under this Agreement to any other party without our prior written consent. We may assign our rights and/or obligations under this Agreement to any other party at our discretion.</p>

<h3>
  <u>19. Amendments</u>
</h3>
<p>We may amend this Agreement from time to time. When we amend this Agreement, we will update this page and indicate the date that it was last modified. We will also require that you accept the changes before being able to continue
  using our website. You may refuse to agree to the amendments, but if you do, you must immediately cease using our website and our service. You must visit this page each time you come to our website and read and agree to it if the date it was last
  modified is more recent than the last time you agreed to the Agreement.</p>
