<%- submit_button_text ||= "Add Card" %>

<%= form_tag submit_path, method: :post, id: "payment-form" do %>
  <div class="form-row">
    <label class="text-center" for="card-element">
      Add credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <div class="grid-x grid-margin-x v-align-top">
    <div class="cell large-3 medium-3 small-5 stripe-logo">
      <%= image_tag "stripe/powered_by_stripe@2x.png" %>
    </div>

    <div class="cell large-6 medium-9 small-7 stripe-logo">
      <p class="help-text">Stripe is PCI compliant and your credit card is sent directly to Stripe for processing.</p>
    </div>

    <div class="cell large-3 medium-12 small-12 text-center">
      <button class="button primary"><%= submit_button_text %> </button>
    </div>
  </div>
<% end %>
