<% return if plan_compare(to: plan) == "Current" %>

<div class="reveal" id="confirmPlanChange" data-reveal>
  <h2>Change in Plan</h2>
  <p class="lead">
    Are you sure you want to <u><%= plan_compare(to: plan).downcase %></u> to the <%= plan %> plan?
  </p>
  <%= link_to "Continue", new_subscription_path(plan_type: plan), class: "button primary expand", style: "background-color: #FFA500;" %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
