<h3>Pay With Card</h3>

<div class="pay-with-card">
  <div class="grid-x grid-margin-x">
    <div class="large-offset-2 large-8 medium-12 small-12">
      <%= render partial: 'stripe/add_card_form',
                 locals: { submit_path: add_new_payment_method_account_path,
                           submit_button_text: "Pay Now" } %>
    </div>
  </div>
</div>
