<div class="row">
	<div class="large-10 columns large-centered">
		<h3>About</h3>

		<p>ApproveForMe is a free web-based tool that simplifies your professional life by making it easier to create, track, and manage document signoffs. It works great for getting approvals from internal team members and external clients.</p>

		<h5>Team</h5>
		
		<div class="row">
			<div class="large-2 small-4 columns"><%= image_tag "kim.png", :style=>"width:100%;" %></div>
			<div class="large-10 small-8 columns">
				<p>Kim leads the technical side. Kim graduated with a degree in computer science from Columbia University. Prior to ApproveForMe, Kim spent three and a half years as a program manager at Microsoft.</p>
			</div>
		</div>

		<div class="row">
			<div class="large-2 small-4 columns"><%= image_tag "dave.png", :style=>"width:100%;" %></div>
			<div class="large-10 small-8 columns">
				<p>Dave leads the business side. Dave has always had a passion for startups and majored in entrepreneurship at university. More recently, has spent the last few years at Microsoft working on Bing.</p>
			</div>
		</div>

		<br / >

		<p>Want to get in touch with us? Send us an email at team@approveforme.com or tweet us @approveforme.</p>
	</div>
</div>


