/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require flatpickr
 *= require_tree ./components
 *= require_tree ./pages
*/
@import 'variables';

// Flatpikr fixes
.flatpickr-calendar {
  div.flatpickr-month {
    height: 40px;
    background-color: #fc0;

    .numInputWrapper {
      padding-left: 8px;

      input.cur-year {
        font-size: 20px !important;
        padding-top: 4px !important;
      }
    }
  }

  span.flatpickr-day.selected {
    background-color: #767676 !important;
    border-color: #767676 !important;
  }
}

// body a {
//   color: #5e74c6;
//   opacity: 0.9;
// }
//
// body a:hover {
//   color: #4A61D6;
//   opacity: 1;
// }
//
// .button.primary {
//   background-color: $afm-yellow;
//   border: 0;
//   border-radius: 3px;
//   color: #000;
//   font-weight: 500;
//   opacity: 0.8;
// }
//
// .button.secondary {
//   background-color: #dedede;
//   border: 0;
//   border-radius: 3px;
//   color: #000;
//   font-weight: 500;
//   opacity: 0.8;
// }
//
// .button.approve:hover,
// .button.decline:hover,
// .button.primary:hover,
// .button.secondary:hover {
//   opacity: 1;
// }
//
// .text-divider {
//   text-align: center;
//   color: #7b7b7b;
//   padding-top: 8px;
//   font-weight: 200;
//   font-size: 15px;
// }
//
// p {
//   font-size: 13px;
// }
//
//
// .text-divider {
//   font-size: 14px;
// }
//
// .center {
//   text-align: center;
// }
//
// .page-title {
//   font-size: 20px;
//   margin-bottom: 5px;
// }
