/* Global */
body {
    background-color: #fafafa;
}
body a {
    color: #5e74c6;
    opacity: .9;
}
body a:hover {
    color: #4A61D6;
    opacity: 1;
}
.button.primary {
    background-color: #ffcc00;
    border: 0px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #000;
    font-weight: 500;
    opacity: .8;
    
}
.button.secondary {
    background-color: #dedede;
    border: 0px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #000;
    font-weight: 500;
    opacity: .8;
}
.button.primary:hover, .button.secondary:hover {
    opacity: 1;
}
.text-divider {
    text-align: center;
    color: #7b7b7b;
    padding-top: 8px;
    font-weight: 200;
    font-size: 15px;
}
p {
    font-size: 13px;
}
.progress {
    border: 1px solid #dedede;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 20px;
}
.progress .meter {
    background-color: #dedede;
}
.text-divider {
    font-size: 14px;
}
.center {
    text-align: center;
}
.page-title {
    font-size: 20px;
    margin-bottom: 5px;
}

/* Navigation */
.top {
    background-color: #F4F4F4;
    margin-bottom: 25px;
    padding: 10px;
    border-top: 3px solid #ffcc00;
}
.top a {
    background-color: #F4F4F4;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 13px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.logo {
    margin-bottom: 0px;
    padding-top: 15px;
}

/* Dashboard */
.item-top {
    border-bottom: 3px solid #F4F4F4;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: 400;
    text-align: center;
}
.create {
    margin-top: 10px;
    margin-bottom: 0px;
}
.get-started {
    font-size: 16px;
    margin-bottom: 0px;
}
.title {
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: -5px;
    line-height: 130%;
    font-size: 16px;
}
.description {
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 140%;
}
.details {
    margin-top: 0px;
    font-size: 12px;
    color: #595959;
    font-weight: 400;
    margin-bottom: 7px;
    line-height: 130%;
}
.pic-details {
    width: 15px;
    margin-top: -2px;
    opacity: .5;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.status-past {
    opacity: .5;
}
.item {
    border-bottom: 3px solid #F4F4F4;
    background-color: #fff;
    padding-top: 15px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: .9;
}
.item.action {
    background-color: #ffe07d;
}
.item:hover {
    border-bottom: 3px solid #dedede;
    opacity: 1;
}
.item:hover .side-image a {
    opacity: .6;
}
.progress-details {
    margin-bottom: 0px;
    font-size: 12px;
    color: #595959;
    font-weight: 400;
}
.tour-pic {
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #dedede;
}
.tour-title {
    font-size: 20px;
    margin-bottom: 5px;
    color: ##595959;
}
.tour-description {
    font-size: 15px;
    color: ##595959;
}

/* Footer */
.bottom {
    background-color: #595959;
    padding-top: 20px;
    border-top: 3px solid #dedede;
    color: #F4F4F4;
    margin-top: 15px;
}

/* Approval Page */
.item-approval-info {
    background-color: #fff;
    padding-top: 15px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.title-approval-alert {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 16px; 
}
.approval-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
}
.approvers-pic {
    width: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
}
.approval-details {
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 5px;
}
.item.action-past {
    background-color: #f4f4f4;
    opacity: .6;
}
.approver-name {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: -3px;
}
.approval-details {
    margin-top: 0px;
    font-size: 12px;
    color: #595959;
    font-weight: 400;
    margin-bottom: 7px;
    line-height: 130%;
}
.approval-details.declined {
    color: red;
}
.approval-details.approved {
    color: green;
}

/* Approval Form */
.item-approval-form {
    background-color: #fff;
    padding-top: 15px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
input[type="text"], input[type="text"]:hover {
    font-size: 16px;
    background-color: #f4f4f4;
    padding-top: 8px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0px solid #fff;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
}
label {
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    color: #595959;
}
.form-label {
    font-size: 15px;
    color: #595959;
    margin-bottom: 5px;
}
.form-label-approvers {
    font-size: 13px;
    color: #595959;
    margin-bottom: 5px;
}
.approvers-input {
    margin-bottom: 5px !important;
    font-size: 13px !important;
}
.form-file-name {
    font-size: 15px;
    color: #595959;
    margin-bottom: 0px;
}
