<div class="row">
<hr>
</div>

<div class="row">
  <div class="large-5 small-4 columns">
    <p class="text-copyright">Copyright 2013 CookDen, Inc.</p>
  </div>
  <div class="large-7 small-8 columns">
    <ul class="inline-list text-footer right">
      <li><a href="<%= root_url %>">Home</a></li>
      <li><a href="<%= root_url %>about/index.html">About</a></li>
      <li><a href="#">Feedback</a></li>
      <li><a href="<%= root_url %>terms/index.html">Terms of Service</a></li>
      <li><a href="<%= root_url %>privacy/index.html">Privacy Policy</a></li>
      <li>
      <a href="#" class="zocial facebook icon" style="font-size:12px;"></a>
      <a href="#" class="zocial twitter icon" style="font-size:12px;"></a>
      <a href="#" class="zocial googleplus icon" style="font-size:12px;"></a>
      </li>
    </ul>
  </div>
</div>
