<div class="span12 row-fluid foot">
      <div class="span4">
      	<p class="text-footer">Copyright &copy; 2013 CookDen, Inc. All Rights Reserved.</p>
      </div>
      <div class="span8 text-right">
      	<ul class="inline">
  			<li class="text-footer"><a href="http://blog.approveforme.com" target="_blank">Blog</a></li>
  			<li class="text-footer"><a href="<%= root_url %>about/index.html">About</a></li>
  			<li class="text-footer"><a href="<%= root_url %>terms/index.html">Terms of Service</a></li>
  			<li class="text-footer"><a href="<%= root_url %>privacy/index.html">Privacy Policy</a></li>
		  </ul>
      </div>
 </div>