<hr>
<div class="row">
	<div class="span7">
		<p>Copyright &copy; 2013 CookDen, Inc. All Rights Reserved.</p>
	</div>
	<div class="span5 text-right">
		<ul class="inline">
  			<li><a href="#">Blog</a></li>
  			<li><a href="#">About</a></li>
  			<li><a href="#">Terms of Service</a></li>
  			<li><a href="#">Privacy Policy</a></li>
		</ul>
	</div>
</div>