<div class="row">
	<div class="span12">
		<% flash.each do |name, msg| %>
		  <% if msg.is_a?(String) %>
		    <div class="alert-box alert-<%= name == :notice ? "success" : "error" %>">
		      <%= content_tag :div, msg, :id => "flash_#{name}" %>
		      <a href="#" class="close">&times;</a>	
		    </div>
		  <% end %>
		<% end %>
	</div>
</div>