<% return if flash.empty? %>

<div class="grid-container">
  <div class="grid-x">
    <div class="large-offset-2 large-6 float-center">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="callout <%= name == :notice ? "success" : "alert" %>" data-closable>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
