<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="<%= root_url %>">ApproveForMe  </a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <% if user_signed_in? %>
      <li><a href="http://blog.approveforme.com" target="_blank">Blog</a></li>
      <li class="divider"></li>
      <li><%= link_to 'Logout', signout_path %></li>
      <% else %>
        <li><a href="http://blog.approveforme.com" target="_blank">Blog</a></li>
        <li class="divider"></li>
        <li><%= link_to 'Login', signin_path %></li>
      <% end %>
      <li class="divider show-for-small"></li>
      <% if user_signed_in? and current_user.has_role? :admin %>
        <li><%= link_to 'Admin', users_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
