<!--- START NAVIGATION -->
  <div class="top">
    <div class="row">
      <div class="large-6 small-12 columns">
        <p class="logo"><%= link_to (image_tag "logo.png"), root_url %></a></p>
      </div>
      <div class="large-6 small-12 columns">
        <ul class="inline-list right">
               <% if user_signed_in? %>
               <li><a href="https://docs.google.com/forms/d/1nW9f_sYa6ndNxXc-c9M8FtbUGiA4K1fUi4ohYkM9BHE/viewform" target="_blank">Feedback</a></li>
               <li><%= link_to 'Logout', signout_path, :class=>"login" %></li>
                 <% if current_user.has_role? :admin %>
                  <li><%= link_to 'Admin', users_path %></li>
                 <% end %>
               <% else %>
                  <li><%= link_to 'Login or Signup', signin_path, :class=>"login" %></li>
               <% end %>
        </ul>
      </div>
    </div>
  </div>
  <!--- END NAVIGATION -->
