<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
    <%= csrf_meta_tags %>
  </head>

  <%= body_tag do %>
    <div class="tw-container tw-mx-auto tw-p-4 sm:tw-px-8 md:tw-px-16 lg:tw-px-32">
      <%= yield %>
    </div>
  <% end %>
</html>
