
<div class="tw-h-screen tw-w-full tw-flex tw-flex-col tw-items-center tw-justify-center tw-bg-gray-lightest tw-font-sans">
	<div class="tw-h-screen tw-w-full tw-absolute tw-flex tw-items-center tw-justify-center tw-bg-modal">
        <div class="tw-bg-white tw-rounded tw-shadow tw-p-8 tw-m-4 tw-max-w-sm tw-max-h-full tw-text-center tw-overflow-y-scroll">
            <div class="tw-mb-4">
                <h1>Account not activated</h1>
            </div>
            <div class="tw-mb-8">
              <p>To activate your account find your welcome email (in your <%= current_user.email %> inbox).</p>
              <p><b>Not finding it?</b> Check your spam folder, <%= link_to "learn more", "https://learn.approveforme.com/email/prevent-spam-or-bounced-emails/", target: :_new %>, or resend the welcome email.</p>
            </div>
            <div class="tw-flex tw-justify-center">
              <%= link_to("Resend Welcome Email", need_to_activate_account_path, method: :post, class: "tw-flex-no-shrink tw-text-white tw-py-2 tw-px-4 tw-rounded tw-bg-blue hover:tw-bg-blue-dark tw-text-white hover:tw-text-white") %>
            </div>
        </div>
    </div>
</div>